#built application files
StockAndroid/.gitignore
StockAndroid/.gradle/
StockAndroid/.idea/
StockAndroid/StockAndroid.iml
StockAndroid/StockDemo.iml
StockAndroid/app/app-release.apk
StockAndroid/app/app.iml
StockAndroid/build/
StockAndroid/demoapk/libandroid-phone-wallet-stock/classes.dex
StockAndroid/local.properties
StockBackSVC/
StockIOS/
StockSVC/
