#built application files
StockAndroid/app/build/
StockAndroid/build/
StockAndroid/.gradle/
StockAndroid/.idea/
StockAndroid/StockAndroid.iml
StockAndroid/app/app.iml
StockAndroid/.gitignore
StockAndroid/local.properties
StockAndroid/MPChartLib/MPChartLib.iml
StockSVC/src/main/main.iml
StockSVC/zzfin.iml