#built application files
StockAndroid/app/build/
StockAndroid/build/
StockAndroid/.gradle/
StockAndroid/.idea/
StockAndroid/StockAndroid.iml
StockAndroid/app/app.iml
StockAndroid/.gitignore
StockAndroid/local.properties